.bg-background {
  background-image            : url("https://firebasestorage.googleapis.com/v0/b/photow-f8f91.appspot.com/o/bg-login.jpeg?alt=media&token=b1964e64-ba8c-43d5-8584-337d48aeccfa");
  background-size             : cover;
  background-repeat           : no-repeat;
  background-position         : center center;
  background-attachment       : fixed;
}

.login-wrapper {
  text-align: center;
}

.btn-login {
  margin-top    : 20vh;
  background    : transparent;
  border        : 1px solid #000000;
  border-radius : 0.3em;
  color         : #000000;
  width         : 12em;
  height        : 2.3em;
  padding       : 0.3em;
  outline       : 0;
}

@media screen and (max-width: 768px) {
  .bg-background {
    background-size: initial !important;
  }

  .btn-login{
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
}